.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
    border-radius: 5px;
    margin-bottom: 5px;
}

.center_inside {
    width: 90%;
}

.group_option_button {
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 0px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.button_option {
    background-color: greenyellow;
    cursor: pointer;
    width: 60px;
    height: 28px;
    margin-top: 5px;
}

.add-to-cart-button{
    background-color:rgb(9, 209, 182);
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 0.85em;
    border-radius: 5px;
}

.place-order-button{
    background: #00405d;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
    width: 100%;
}
