{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}
{% load cart_tag %}


{% block content %}

<body>
<div class="container">
    <div class="check">
        <div class="col-md-3 cart-total">
            <a class="continue" href="{% url 'index' %}">Continue to basket</a>

            <div class="price-details">
                <h3>Price Details</h3>
                {% for key,item in request.session.cart.items %}
                <li class="last_price">{{ item.name }} x {{ item.quantity }} = ${{ item.price_of_all }}</li>
                <br/>
                {% endfor %}
                <div class="clearfix"></div>
            </div>

            <ul class="total_price">
                <li class="last_price"><h4>TOTAL</h4></li>
                <li class="last_price"><span>${{ cart_total_amount }}</span></li>
                <div class="clearfix"></div>
            </ul>

            <div class="clearfix"></div>
            <form id="order-form" action="{% url 'make_order' %}" method="get">
                <input class="place-order-button" type= "submit" value="Place Order"/>
            </form>
        </div>

        <div class="col-md-9 cart-items">
            <h1 class="continue">My Cart</h1>
            {% for key,item in request.session.cart.items %}
            <div class="item">
                <div class="cart-header center_inside">

                    <div>
                        <form class="delete-form" action="{% url 'item_clear' item.product_id %}" method="get">
                            <input class="close1" type="submit" value="Delete">
                        </form>
                    </div>

                    <div class="cart-sec simpleCart_shelfItem">
                        <div class="cart-item cyc">
                            <img src="{{ item.image }}" class="img-responsive" alt=""/>
                        </div>
                        <div class="cart-item-info">
                            <h3><a href="#">{{ item.name }}</a></h3>
                            <p>Category: {{ item.category }}</p>
                            <text> {{ item.description }}</text>
                            <ul class="qty">
                                <li><p>Price per serve : ${{ item.price }}</p></li>
                                <li><p>Quantity : {{ item.quantity }}</p></li>
                            </ul>
                        </div>
                    </div>
                    <br/>
                    <div class="group_option_button">
                        <div>
                            <form class="increment-form" action="{% url 'item_increment' item.product_id %}" method="get">
                                <input class="button_option" type="submit" value="+">
                            </form>
                        </div>

                        <div>
                            <form class="decrement-form" action="{% url 'item_decrement' item.product_id%}" method="get">
                                <input class="button_option" type="submit" value="-">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="clearfix"></div>
    </div>
</div>
</body>

<script>
    $('#order-form').on('submit', function (e) {
        e.preventDefault(); //this stops the form submit + refresh
        var $form = $(this);
        $.ajax({
            type: 'get',
            url: $form.attr("action"),

            success: function (r) {
                alert('Your order has been sent!')
            },
            error: function (r) {
                alert('Oops! Something go wrong !');
            }
        });
    });
</script>
{% endblock %}
